/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Vu Quoc Gia Quan
ID: s3927120
Acknowledgement: 
Fahasha website for book information
W3school for responsive web design technique
https://www.youtube.com/watch?fbclid=IwAR1b2dkTVrMgAQHofiRZvn6a1w9gp7mGmnhi6_3HdV2fqmfh8ahWISHLjsg&v=oLgtucwjVII&feature=youtu.be for making the responsive navigation bar
*/

/* Reset box-sizing for all elements */
* {
    box-sizing: border-box
}

/* Define a custom font face */
@font-face {
    font-family: Proxima;
    src: url(./font/proxima-nova-font.otf);
}

/* Styling for all h3 elements */
.special-heading{
    font-family: Proxima;
}

/* Header box styling */
.header-box {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #3367d6;

}

/* Navigation bar for header styling */
.navbar {
    position: absolute;
    right: 0;
}

/* Styling for breadcrumbs */
.breadcrumbs {
    font-size: 16px;
    padding: 10px;
    background-color: #f0f0f0;
}

.breadcrumbs a {
    text-decoration: none;
    color: #007BFF;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

/* Style the last breadcrumb (current page) */
.breadcrumbs :last-child {
    font-weight: bold;
}

/* Styling for navigation links */
.navbar > nav > ul {
    float: right;
    margin-right: 20px;
}

.navbar > nav > ul > li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 16px;
}

.navbar > nav > ul > li > a {
    color: white;
    text-transform: uppercase;
}

/* Styling for the image container */
.image-container {
    padding-left: 15px;
}

/* Styling for the logo */
.logo {
    max-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

/* Overall body styling */
body {
    font-family: Helvetica, Arial, "sans-serif";
    margin: 0
}

/* Styling for old price with discount */
.old-price {
    text-decoration: line-through;
    color: #666;
    font-size: 16px;
    display: inline-block;
}

/* Styling for new price */
.new-price {
    color: tomato;
    font-size: 16px;
}

/* Main content container styling*/
.container {
    width: 80%;
    margin: auto;
}


/* Styling for category position */
.category-position {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
    max-width: 100%;
}

/* Styling for flex layout rows */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for columns with width of one-third */
.w-33 {
    width: 33.33%;
    min-height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

/* Styling for images with 100% width and auto height */
.img-100 {
    width: 100%;
    height: auto
}

/* Styling for images with max width of 50% and auto height */
.img-50 {
    max-width: 50%;
    height: auto
}

/* Styling for images with max width of 70% and auto height */
.img-70 {
    max-width: 70%;
    height: auto;
}

/* Styling for images with width of 20% and auto height */
.img-20 {
    width: 20%;
    height: auto;
}

/* Styling for columns with width of one-fourth */
.w-25 {
    width: 25%;
    min-height: 100px;
    padding: 15px;
}

/* Styling for columns with width of one-half (50%) */
.w-50 {
    width: 33.33%;
    min-height: 100px;
    padding: 15px;
}

/* Styling for content area */
.content {
    background: transparent;
    min-height: 100%;
    padding: 15px;
}

/* Styling for images within content */
.content img {
    height: 80%
}

/* Styling for box displaying prices */
.box-price {
    height: 100%;
    width: 100%;
}

/* Styling for contact box */
.contact-box {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Styling for checkbox group */
.checkbox-group{
    padding-top: 10px;
}

/* Styling for select element within contact box */
.contact-box select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Styling for headings within contact box */
.contact-box h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for forms within contact box */
.contact-box form {
    display: flex;
    flex-direction: column;
}

/* Styling for input and textarea within contact box */
.contact-box input,
.contact-box textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styling for button group */
.button-group {
    display: flex;
    justify-content: space-between;
}

/* Styling for submit button */
.button-group button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Styling for reset button */
.button-group button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
}


/* Styling for button hover effect */
.button-group button[type="reset"] {
    background-color: #ccc;
    color: #000;
    border: none;
}



/* Styling for label-checkbox */
.label-checkbox {
    display: flex;
    align-items: center;
}

.label-checkbox input {
    margin-right: 10px;
}

/*styling for button-group*/
.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button:hover {
    background-color: #0056b3;
}

/* Styling for radio group */
.radio-group {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.radio-group label {
    margin-right: 20px;
}

.contact {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 16px;
}

/*styling for copyright line*/
.copyright {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 10px;
}

/* Styling for hover effect on buttons */
.hover-up-button {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.hover-up-button:hover {
    transform: translateY(-5px); 
}

/* Styling for text over image */
.text-over-image {
    padding: 15px;
}

/* Styling for book details */
.book-detail {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Styling for show button */
.show-button {
    display: flex;
    justify-content: center;
}

.show-button button {

    background-color: #007BFF;
    border-radius: 10px;
    cursor: pointer;
}

/* Styling for information section */
.info {
    display: flex;
    justify-content: space-between;
}

/* Styling for box-price */
.box-price {
    display: flex;
    justify-content: space-between
}

/* Styling for summary section */
.summary {
    background-color: rgba(255, 255, 242, 0.5);
    padding: 10px;
    border-radius: 20px;
}

/* Styling for footer section */
.footer-box {
    display: flex;
    align-items: center;
    background-color: rgb(3, 13, 48);
    padding: 10px;
    max-width: 100%;
    min-height: 100%;
}

/* Styling for left alignment with 20% offset */
.left-20{
    left: 40%;
}

/* Styling for navigation bar for footer*/
.navbar2 > nav > ul > li > a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar2 > nav > ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    
}

.navbar2 > nav > ul > li {
    display: inline-block;
}
.hover-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.hover-button:hover {
    background-color: #2980b9;
    color: #f1c40f;
}

/* Styling for book details */
.book-detail {
    background-color: rgb(234, 230, 230);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20%;
}


/* Styling for search container */
search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Styling for search input */
#search {
    padding: 10px;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

/*banner styling*/
.banner {
    height: 100%;
    width: 100%;
}

.navbar a:hover {
    background: rgb(123, 255, 255);
    transition: 0.5s;
}

.navbar2 a:hover {
    background: rgb(123, 255, 255);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

body {
    background-color: #eee;
    color: #575757;
    font-family: 'Nunito Sans', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    margin: 0
}

section {
    width: 100%;
    height: 900px;
    padding: 70px 0;
}

a {
    text-decoration: none
}

/*Premade config for later usage in design*/
.btn-primary {
    background-color: #007BFF;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-size: 1.1rem;
}

.btn-primary:hover {
    background-color: #4da1fa;
}

.bg-primary {
    background-color: lightpink
}

.text-primary {
    color: #662046
}

a.text-primary:hover {
    color: #18CBD4
}

/*-----------------------------------*/
.bg-secondary {
    background-color: #A8D7D6
}

.text-secondary {
    color: #18CBD4
}

a.text-secondary:hover {
    color: #E8439F
}

/*----------------------------------------*/
.text-dark {
    color: #393434
}

.text-light {
    color: #FFFFFF
}

.img-100 {
    width: 100%;
    height: auto
}

.bg-gradient {
    background: rgb(228, 39, 125);
    background: linear-gradient(321deg, rgba(228, 39, 125, 1) 34%, rgba(121, 9, 71, 1) 96%);
}

/*--------------------------- 12 column system for reponsive web design--------------------------*/
* {
    box-sizing: border-box
}

.container {
    width: 100%
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    padding: 10px;

}

.pad-10 {
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap
}

.d-flex {
    display: flex
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center
}

.justify-end {
    justify-content: flex-end
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}


.my-30 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-auto {
    margin: auto
}

.font-17{
    font-size: 17px;
}

.big-font {
    font-size: 24px;
}

.align-items-center {
    align-items: center
}

.align-items-start {
    align-items: flex-start
}

.align-items-end {
    align-items: flex-end
}

/*----- */

@media (min-width: 768px) {
    .container {
        width: 95%;
        margin: auto
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    /* ... Additional styling for larger screens ... */
    /* ... Define how smaller elements should behave ... */
    .container {
        width: 80%;
        margin: auto
    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

}

@media (min-width: 992px) {
    .small-image-mobile {
        display: none;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }


    .navbar > nav > ul > li > a {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .small-image-mobile{
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar2 a:hover {
        background: transparent;
        transition: 0.5s;
    }

    .navbar2 nav ul {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .new-price {
        font-size: 14px;
    }

    .old-price {
        font-size: 14px;
    }

    .copyright {
        font-size: 14px;
    }

    .navbar2 {
        font-size: 12px;
    }

    .footer-logo img {
        display: none;
    }

    .text-over-image {
        font-size: 16px;
    }

    .small-image-pc {
        display: none;
    }

    .small-image-mobile {
        display: flex;
        justify-content: center;
    }

    .contact-box form {
        flex-wrap: wrap;
    }

    .checkbox-group,
    .radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkbox-group label,
    .radio-group label {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group button {
        width: 100%;
        margin-bottom: 10px;
    }

    .checkbtn {
        display: block;
    }

    .header-box {
        height: 150px;
    }

    #search {
        padding: 10px;
        width: 60%;
        border: 1px solid #ccc;
        border-radius: 20px; /* Adjust the border-radius to control the roundness of the corners */
        outline: none;
    }

    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(128, 128, 128, 0.9);
        top: 12%;
        left: -100%;
        text-align: center;
        z-index: 0;
        transition: all .5s;
    }

    .navbar nav ul li {
        display: block;
    }

    .navbar nav ul li a {
        font-size: 20px;
    }

    .navbar a:hover, a.active {
        background: none;
        color: darkblue;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
